@page "/"
@attribute [Authorize]
@inject IAccountService AccountService

<PageTitle>Home</PageTitle>

@if (user == null)
{
    <p><em>Authenticating ...</em></p>
}
else {
    <div class="p-4">
        <div class="container">
            <h1>Hi @user?.Name</h1>
            <p>You're logged in with Blazor WebAssembly!!</p>
            @if (@user?.Role == 1) {
                <p>You can do serious stuff!</p>
            }
        </div>
    </div>
}

@code {
    
    private User? user;

    protected override void OnInitialized()
    {
        user = @AccountService.User;
    }

}