@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<div class="page">

@if (LoggedIn) 
{
    <div class="sidebar">
        <NavMenu User="@User"/>
    </div>
}

    <main>
        <div class="app-container @(LoggedIn ? "bg-light" : "")">
            <Alert />
            @Body
        </div>
    </main>

</div>

@code {

    public User User => AccountService?.User;
    
    public bool LoggedIn 
    {
        get { return AccountService.User != null; }
    }
}